# Use your computer's local network IP when testing on a physical device.
# Examples:
# EXPO_PUBLIC_API_URL=http://192.168.1.20:4000
# EXPO_PUBLIC_API_URL=http://10.0.0.15:4000
EXPO_PUBLIC_API_URL=http://YOUR_LOCAL_IP:4000
